<article class="column">
    <p class="title">Basic Information</p>
    <div ng-repeat="stat in basicInformation" class="message">
        <div class="message-header">
            <button ="!player.youOwnThis" ng-click="editStat(stat);" class="is-primary button  ">
                    <span class="icon"><i ng-class="ifEdit(stat);"></i></span> 
                    <span ng-bind="stat.title"></span>
                      </button>
        </div>
        <div class="message-body">
            <p class="playerStatItem" ng-if="!stat.editing && !player.editing" ng-bind="player[stat.stat]"></p>
            <input class="input" ng-if="stat.editing || player.editing" ng-model="player[stat.stat]">
        </div>
    </div>
</article>

<article class="column">
    <p class="title">Vitals</p>
    <div ng-repeat="stat in vitals" class="message">
        <div class="message-header">
            <button ng-disabled="!player.youOwnThis" ng-click="editStat(stat);" class="is-primary button  ">
                    <span class="icon"><i ng-class="ifEdit(stat);"></i></span> 
                    <span ng-bind="stat.title"></span>
                     </button>
        </div>
        <div class="message-body">
            <p class="playerStatItem" ng-if="!stat.editing && !player.editing" ng-bind="player[stat.stat]"></p>
            <input class="input" ng-if="stat.editing || player.editing" ng-model="player[stat.stat]">
        </div>

    </div>
</article>