
<p class="title" ng-bind="responseMessage"></p>
<div class="campaign-page columns">
<section class="column">
    <h2 class="title-white">Create a new campaign!</h2>
    <form>
        <label for="Campaign Title">Campaign Title: </label> 
        <input class="input" type="text" ng-model="campaignInstance.title">

        <label for="Campaign Password">Campaign Password: </label> 
        <input class="input" type="password" ng-model="campaignInstance.password">

        <button type="submit"class="button is-small is-dark" ng-click="newCampaign()">Create Campaign</button>
    </form>
</section>
<section class="column">
    <h2 class="title-white">Log into your campaign and start a session!</h2>
    <form>
        <label for="Campaign Title">Campaign Title: </label> 
        <input class="input" type="text" ng-model="session.title">

        <label for="Campaign Password">Campaign Password: </label> 
        <input class="input" type="password" ng-model="session.password">

        <button type="submit" class="button is-small is-dark" ng-click="startCampaignSession()">Start Session</button>
    </form>
</section>
</div>