 <section class="hero">
  <div class="hero-body">
    <div class="container">
    <h1 class="title">Welcome to your custom DnD manager</h1>
    <h3 class="subtitle" ng-if="userEmail">Welcome Back</h3>
    <h3 class="subtitle" ng-if="userEmail" ng-bind="userEmail"></h3> 
    </div>
    <div class="section">
      <p> Lets get started!Please <a class="subtitle"href="/#!/login">create an account</a>
        to get access to saving. </p>
        <p>Or, <a class="subtitle" href="/#!/players"> just try out a character sheet </a>(you wont be able to save)</p>
        
    </div>
  </div>
</section>