<section class="column"ng-if='!userEmail'>
    <div class="columns">
        <div class="column">
            <div class="message is-dark">
                <header class="message-header">
                   <p class="loginTitle"> Login </p> 
                </header>
                <form>
                <div class="message-content">
                    <h4 ng-bind="loginStatusMessage"></h4>
                    <label class="label" for="return-email-input">E-mail</label><input class="input" type="email" name="returnEmail" ng-model="returnUser.email">
                    <label class="label" for="return-password-input">Password</label><input class="input" type="password" name="returnPassword" ng-model="returnUser.password">
                </div>
                <footer class="message-footer">
                    <button class="button" type="submit" ng-click="returnUser()"> Login </button>
                </footer>
                </form>
            </div>   
        </div>
        <div class="column"> 
            <div class="message is-dark">
                <header class="message-header">
                   <p class="loginTitle"> Register</p>
                </header>  
                <form>
                <div class="card-content">
                    <h4 ng-bind="statusMessage"></h4>
                    <label class="label" for="login-email-input">E-mail</label><input class="input" type="email" name="loginEmail" ng-model="newUser.email">
                    <label class="label" for="login-password-input">Password</label><input class="input" type="password" name="loginPassword" ng-model="newUser.password">
                    <label class="label" for="login-confirmPassword-input">Confirm Password</label><input class="input" type="password" name="loginPassword" ng-model="newUser.confirmPassword">
                </div>
                <footer class="card-footer">
                    <button class="button" type="submit" ng-click="newUser()">Register</button>
                </footer>
                </form>
            </div>
        </div>
    </div>
    </section>
    <section class="message" ng-if='userEmail'>
        <div class="message-header">
            <p class="loginTitle">You are logged in as {{userEmail}}</p>
        </div>
        <div class="message-body">
            <button class="button is-large is-info logOutButton" ng-click="logOutUser()">Log Out?</button>
        </div>
    </section>
