<section class="container column">
<button class="button" ng-click="playerNotes.addItemTimeStamped()" >Add Note</button>
<div ng-repeat="note in playerNotes.list" class=" message">
            <div class="message-header">
                <p>Created On .. {{note.created_at}}</p>
                <button ng-disabled="!player.youOwnThis" ng-click="editStat(note);" class="button is-info" ng-class="playerNotes.ifEditReturnIcon(note);"></button>
            </div>
            <div class="message-body">
                <p class="playerplayerNotesItemDetails" ng-if="!note.editing && !player.editing" ng-bind="note.note"></p>
                <textarea auto-resize placeholder="Your Note....." class="textarea" ng-if="note.editing || player.editing" ng-model="note.note"></textarea>
                <button class="button is-danger fa fa-trash" ng-click="playerNotes.deleteItem(note);updateAndSave(player);"></button>
            </div>
</div>
</section>