<div class="column">
<div class="box">
<form>
       <p>Campaign:</p> <input class="input"  name="campaign" ng-model="newPlayer.campaign">
        <p>Real Name:</p> <input class="input" name="realName" ng-model="newPlayer.realName">
        <p>Player Name:</p> <input class="input"  name="name" ng-model="newPlayer.name">
        <p>Race: </p> <input class="input"  name="race"ng-model="newPlayer.race" >
        <p>Class:</p>  <input class="input"  ng-model="newPlayer.classType" >
        <p>Alignment:</p> <input class="input"  ng-model="newPlayer.alignment" >
        <p>Sex:</p><input class="input"  ng-model="newPlayer.sex" >
        <p>Size:</p> <input class="input" ng-model="newPlayer.size" >
        <p>Age:</p> <input class="input"  ng-model="newPlayer.age" >
        <p>Height: </p> <input class="input"  ng-model="newPlayer.height" >
        <p>Weight: </p> <input class="input"  ng-model="newPlayer.weight" >
        <p>Level:</p> <input class="input"  ng-model="newPlayer.level" >
        <p>Initiative:</p> <input class="input"  ng-model="newPlayer.initiative" >
        <p>Speed: </p><input class="input"  ng-model="newPlayer.speed" >
        <p>Strength: </p><input class="input" ng-model="newPlayer.strength" >
        <p>Dexterity: </p><input class="input" ng-model="newPlayer.dexterity" >
        <p>Constitution: </p><input class="input"  ng-model="newPlayer.constitution" >
        <p>Intelligence: </p><input class="input"  ng-model="newPlayer.intelligence" >
        <p>Wisdom: </p><input class="input"  ng-model="newPlayer.wisdom" >
        <p>Charisma: </p><input class="input"  ng-model="newPlayer.charisma" >
        <p>CurrentHitPoints:</p><input class="input"  ng-model="newPlayer.currentHitPoints" >
        <p>TempHitPoints:</p> <input class="input"  ng-model="newPlayer.tempHitPoints" >
        <input class="button"type="submit" value="add to campaign" ng-click="createNewPlayer()">
    </form>    
</div>
</div>

<div class="column">
 <ul ng-repeat="player in totalPlayers">
     <li><pre ng-bind="player">
     </pre></li>
 </ul>
 </div>
