<div class="playerButtons">
    <button ng-if="!player.editing && player.youOwnThis" class="button is-info" ng-click="toggleEdit(player)">Toggle Edit</button>
    <button ng-if="player.editing && player.youOwnThis" ng-click="toggleEdit(player); updateAndSave(player)" class="button is-primary"
        type="submit">Save</button>
    <button class="button " ng-if="player.youOwnThis" ng-click="toggleJoinCampaign()">Join a campaign!</button>
</div>


<div class="tabs">
    <ul>
        <li ng-repeat="t in templates"><a ng-bind="t.name" ng-click="templateSwap(t.url)"></a></li>
    </ul>
</div>
<section class="section">
    <article class="columns" ng-include="templateUrl"></article>
</section>
<button ng-if="!player.editing && player.youOwnThis" ng-click="toggleDeletePlayer()" class="button is-danger" type="submit">Delete Player</button>

<!--TODO- Turn this into campaignModal directive-->
<div id="campaignModal" class="modal">
    <div ng-click="toggleJoinCampaign()" class="modal-background"></div>
    <form>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Join a campaign</p>
                <button class="delete is-medium" ng-click="toggleJoinCampaign()"></button>
            </header>
            <section class="modal-card-body">
                <p class="title is-5" ng-bind="campaignJoinResponse"></p>
                <p>Name: </p> <input type="text" class="input" ng-model="campaignCred.title">
                <p>Password: </p> <input type="password" class="input" ng-model="campaignCred.password">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" ng-click="joinCampaign(player, campaignCred);">Join</button>
            </footer>
        </div>
    </form>
</div>
<!--TODO- Turn this into deleteModel directive-->
<div id="deleteModal" class="modal">
    <div ng-click="toggleDeletePlayer()" class="modal-background"></div>
    <form>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Are you sure you want to delete {{player.name}} forever?..</p>
                <button class="delete is-medium" ng-click="toggleDeletePlayer()"></button>
            </header>
            <button ng-click="toggleDeletePlayer()" class="button is-large is-primary">No Take me Back</button>
            <button ng-click="deletePlayer(player.id)" class="button is-large is-danger">Delete Forever</button>
        </div>
    </form>
</div>