
<div class="column">
    <h1 class="title" ng-bind="player.name"></h1>
        <h1 class="subtitle">Played By:</h1> <h1 class="subtitle" ng-bind="player.realName"></h1>
        <p>Race:</p> <p ng-bind="player.race"></p>
        <p>Class:</p> <p ng-bind="player.classType"></p>
        <p>Alignment:</p> <p ng-bind="player.alignment"></p>
        <p>Sex:</p> <p ng-bind="player.sex"></p>
        <p>Size:</p> <p ng-bind="player.size"></p>
        <p>Age:</p> <p ng-bind="player.age"></p>
        <p>Level:</p> <p ng-bind="player.level"></p>
        <p>Current Experience:</p> <p ng-bind="player.experience"></p>

        <input type="text" ng-model="experienceToGain" name="" value="">
        <button type="submit" name="levelUp" value="LevelUp" ng-click="gainExperience(experienceToGain)">Gain Experience </button>
        <br>    
          <select name="Die">
            <option value="d20">d20</option>
            <option value="d12">d12</option>
            <option value="d10">d10</option>
            <option value="d8">d8</option>
            <option value="d6">d6</option>
            <option value="d4">d4</option>
        </select>
        <input type="submit" ng-click="rollDie" value="Roll">

       <p>Campaign:</p> <input class="text"  name="campaign" ng-model="campaign.title">
       <p>Password for this campaign:</p>
       <input class="text"  name="campaign" ng-model="campaign.password">
       <button ng-click="joinCampaign(player, campaign)">Join</button>
</div>