 <article class="column">
    <div class="level">
            <p class="level-item cardTitle title is-2"> {{player.name}}'s Spell List </p>
            <button ng-disabled="!player.youOwnThis" class="level-item cardAddButton button is-small is-primary fa fa-plus" ng-if="player.youOwnThis"
            ng-click="spells.addItem()"></button>
            <label class="level-item"><i class="icon"><span class="fa fa-search"></span></i> <input ng-model="spellSearch"></label> 
    </div>
    <div class="section">
            <div data-ng-repeat="spell in spells.list | filter:spellSearch | orderBy:'-' " class="spellCard card">
                <div class="card-header">
                    <p ng-bind="spell.name" class="subTitle card-header-title"></p>
                    <button class="button is-danger" ng-disabled="!player.youOwnThis" ng-click="spells.deleteItem(spell); updateAndSave(player)"><i class="icon"><span class="fa fa-trash-o"></span></i></button>
                </div>
                <div class="card-content">
                    <input ng-if="spell.editing" placeholder="Spell name" ng-model="spell.name" class="input">
                    <textarea auto-resize ng-if="spell.editing" placeholder="Add a description!" ng-model="spell.description" class="textarea"></textarea>
                    <p class="cardDescription" ng-if="!spell.editing" ng-bind="spell.description"></p>
                </div>
                <div class="card-footer">
                    <button class="button is-info" ng-disabled="!player.youOwnThis" ng-click="editStat(spell)">
                        <i class="icon"><span ng-class="spells.ifEditReturnIcon(spell)" ></span> </i>
                    </button>
                </div>
            </div>
        </div>
</article>
<article class="column">
        <p class="title is-2">Spell Details</p>
        <div ng-repeat="stat in spellDetails" class="message">
            <div class="message-header">
                <button ng-disabled="!player.youOwnThis" ng-click="editStat(stat);" class="is-primary button ">
                    <span class="icon"><i ng-class="ifEdit(stat);"></i></span>
                    <span ng-bind="stat.title"></span>     
            </div>
            <div class="message-body">
                <p class="playerStatItem" ng-if="!stat.editing && !player.editing" ng-bind="player[stat.stat]"></p>
                <input class="input" ng-if="stat.editing || player.editing" ng-model="player[stat.stat]">
            </div>
        </div>
        <div class="section">
        <p class="title is-2">Spell Slots</p>
            <table class="table is-striped ">
                <thead>
                    <tr ng-repeat="slot in spellSlots">
                        <th ng-bind="slot.spellLevel"></th>
                        <td ng-repeat="spell in slot.spellsToCast">
                            <span ng-if="spell.usedSpell" class="icon "><i class="fa fa-hourglass-2"></i></span>
                            <span ng-if="!spell.usedSpell" class="icon "><i class="fa fa-star"></i></span>
                            <input ng-model="spell.usedSpell" type="checkbox" class="checkbox">
                        </td>
                    </tr>
                </thead>
            </table>
        </div> 
</article>