<article class="column">
    <p class="title">Primary Stats</p>
    <div class="message is-dark" ng-repeat="stat in primaryStats">
        <div class="message-header">
            <button ng-disabled="!player.youOwnThis" ng-click="editStat(stat);" class="button is-info is-small"><p ng-bind="stat.title"></p></button>
        </div>
        <div class="message-body">
            <p class="playerStatItem" ng-if="!stat.editing && !player.editing" ng-bind="player[stat.stat]"></p>
            <p ng-if="!stat.editing && !player.editing" class="pStatMod" ng-bind="statModCalc(stat.stat)"></p>
            <input class="input" ng-if="stat.editing || player.editing" ng-model="player[stat.stat]">
        </div>
    </div>
</article>
<article class="column">
  
        <p class="title">Skills</p>
        <button ng-disabled="!player.youOwnThis" class=" button is-primary fa fa-plus" ng-if="player.youOwnThis" ng-click="skillList.addItem()"></button>
    <section class="section">
        <div class="message" ng-repeat="skill in skillList.list">
            <div class="message-header">
                <p ng-bind="skill.name" placeholder="Enter Skill Name!" ng-disabled="true"> </p>
                <button ng-if="!skill.Editing" class="buttonis-small is-info fa fa-pencil" ng-disabled="!player.youOwnThis" ng-click="skillList.toggleEdit(skill)"></button>
                 <button ng-if="skill.Editing" ng-click="skillList.toggleEdit(skill); updateAndSave(player)" class="button fa fa-save is-small is-black"
                        type="submit"></button>
                 <button class="button is-small is-danger fa fa-trash" ng-disabled="!player.youOwnThis" ng-click="skillList.deleteItem(skill); updateAndSave(player)"></button>
            </div>
            <div class="message-body">
                <input ng-if="skill.Editing" placeholder="Skill name" ng-model="skill.name" class="input">
                <input ng-if="skill.Editing" placeholder="Proficiency" ng-model="skill.stat" class="input">
                <p class="cardDescription" ng-if="!skill.Editing" ng-bind="skill.stat"></p>
            </div>
            
        </div>
    </section>
</article>