// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables"

$paper: #f4f4f4
$darkPaper: #d5d5e1
$blue: #6D7993
$irises: #dcd0c0
$sunflowers: #c0b283
$t-red : transparentize($red, .3)
$sunflowers-invert: #000
$irises-invert: #000
$light: #769283
$white: hsl(0, 0%, 96%)



// 3. Set the derived variables


$info: $sunflowers
$primary: $black
$info-invert: $sunflowers-invert
$primary-invert: $white
$warning: $blue
$danger: $t-red
$body-size: 17px
body
 background-color: hsl(0, 0%, 96%)
.button
 margin: 5px
.message
 background-color: hsl(0, 0%, 96%)
#body-container 
 padding-left: 20px
 width: 95%
 transition: padding-left .6s
.page-container
 margin-top: 1%
.playerName
 font-size: 45pt
.message-header
 background-color: black
.message-body
 background-color: $paper
.joinCButton
 margin-left: 2%
.newCButton
 margin-top: 4% 
.card-header
 background-color: $paper
.nav-title
 color: $black
.main-menu-button .fa
 width: 91%
 padding-top: 20% 
 margin-left: auto
 margin-right: auto
 height: auto
 position: relative
// 4. Import the rest of Bulma and my css
@import "./main.sass"
@import "./experienceBar.sass"
@import "./navbar.sass"
@import "./colorChoice.sass"
@import "./mobile.sass"
@import "./../../../node_modules/bulma/bulma"