// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables"

$dark: black
$paper: #d5d5d5
$darkPaper: #d5d5e1
$blue: #0375b4
$irises: #007849
$sunflowers: #ffce00
$t-red : transparentize($red, .3)
$sunflowers-invert: #000



// 3. Set the derived variables

$info: $sunflowers
$primary: $irises
$info-invert: $sunflowers-invert
$warning: $blue
$danger: $t-red

.playerName
 font-size: 40pt
 font-family: $family-monospace
.mainTitle
 font-family: $family-monospace
 color: $blue

// 4. Import the rest of Bulma
@import "./../../../node_modules/bulma/bulma"