*
{
    font-size: 10pt;
}
.loginSection
{
    margin-top: 100px;
}
textarea
{
    resize: none;
    word-wrap: break-word;
}
.cardDataInline
{
    display: inline-block;
}
.playerInSessionContainer
{
    margin: 1%;
    border: 2px solid black;
}

.your-combat
{
    border: 5px solid hotpink;
}
.charMenuContainer
{
    padding: 1%;
    background-image: url('../img/wilds.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height: 600px;
}
.newCharHero{
    background-image: url('./../img/heroes.jpg')
}   
.charMenuContainer p
{
    color: white;
}
.charMenuContainer ul li a
{
    color: white;
}
.campaign-page
{
    padding: 200px;
    color: white;
    background-image: url('../img/dd3.jpg');
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-size: cover;
}
.mainNav
{
    margin-top: 18px;
}
.newCharTitle
{
    margin-top: 1%;
    padding: 1%;
}
.cardAddButton
{
    display: inline-block;

    margin-left: 10%;
}
.cardTitle
{
    display: inline-block;
}
.spellCard
{
    margin: 1%;
    padding: 1%;
}
.playerStatItem
{
    display: inline-block;

    white-space: pre-wrap;
    word-break: break-all;
}
.playerStatItemDetails
{
    white-space: pre-wrap;
    word-break: break-all;

    overflow-wrap: break-word;
}

.cardDescription
{
    display: inline-block;

    white-space: pre-wrap;
    word-wrap: break-all;
}
.createResponse
{
    margin-top: 1%;
}
.deletePlayer
{
    display: inline-block;
    margin-left: 80%;
}
.drop-box
{
    margin: 10px;
    padding-top: 25px;

    text-align: center;

    border: 5px dashed #ddd;
    background: #f8f8f8;
}
.dragover
{
    border: 5px dashed blue;
}
.spellSlot p
{
    display: inline;
}
.hide-opacity
{
    opacity: 0;
}

.fade-out
{
    transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}

.information-container 
{
    display: inline-block;
    width: 40%;
}
.loginTitle
{
    color: ghostwhite;
    font-size: 24pt;
    margin-left: 2%; 
}
.mainTitle 
{
    font-size: 20pt;
    
}
.subTitle
{
    padding-left: 5%;
    font-size: 19pt; 
}
.logOutButton 
{
    text-decoration-style: none;
    font-style: none;
    padding: 10%;
}
.editButton
{
    background-color: green;
}
.is-black{
    color: black;
}

.slide-animate-container {
  position:relative;
  background:white;
  height: 100%;
  min-height: 1000px;
  overflow:hidden;
}

.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.slide-animate.ng-enter {
  top:1200px;
}
.slide-animate.ng-enter.ng-enter-active {
  top:0;
}

.slide-animate.ng-leave {
  top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  top:1200px;
}
