
.loginSection{
    margin-top: 100px;
}
textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
}
.playerInSessionContainer{
    border: 2px solid black;
    margin: 1%;
}
.is-blue{
    border: 3px solid blue;
    color: blue;
    box-shadow: 7px 7px 7px blue;
}
.is-purple{
    border: 3px solid purple;
    color: purple;
    box-shadow: 7px 7px 7px purple;
}
.is-green{
    border: 3px solid forestgreen;
    color: forestgreen;
    box-shadow: 7px 7px 7px forestgreen;
}
.is-teal{
    border: 3px solid teal;
    color: teal;
    box-shadow: 7px 7px 7px teal;
}
.is-red{
    border: 3px solid red;
    color: red;
    box-shadow: 7px 7px 7px red;
}
.is-pink{
    border: 3px solid hotpink;
    color: hotpink;
    box-shadow: 7px 7px 7px hotpink;
}
.is-orange{
    border: 3px solid orange;
    color: orange;
    box-shadow: 7px 7px 7px orange;
}
.is-gray{
    border: 3px solid gray;
    color: gray;
    box-shadow: 7px 7px 7px gray;
}
.color-choice-red{
    width: 30px;
    height: 30px;
    background-color: red;
}
.color-choice-purple{
    width: 30px;
    height: 30px;
    background-color: purple;
}
.color-choice-green{
    width: 30px;
    height: 30px;
    background-color: forestgreen;
}
.color-choice-teal{
    width: 30px;
    height: 30px;
    background-color: teal;
}
.color-choice-pink{
    width: 30px;
    height: 30px;
    background-color: hotpink;
}
.color-choice-blue{
    width: 30px;
    height: 30px;
    background-color: blue;
}
.color-choice-orange{
    width: 30px;
    height: 30px;
    background-color: orange;
}
.color-choice-gray{
    width: 30px;
    height: 30px;
    background-color: gray;
}
.your-combat{
    border: 5px solid hotpink;
}
.charMenuContainer {
    background-image: url('../img/wilds.jpg');
    background-size: 100%;
    padding: 1%;
}
.charMenuContainer p {
    color: white;
}
.charMenuContainer ul li a{
    color: white;
}
.campaign-page {
    background-image: url('../img/dd3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    padding: 200px;
    color: white;
}
.mainNav {
    margin-top: 18px; 
}
.newCharTitle {
    margin-top: 2%;
    padding: 1%;
}
.cardAddButton {
    display: inline-block;
    margin-left: 5%;
}
.cardTitle {
    display: inline-block;
}
.spellCard {
    margin: 2%;
    padding: 1%;
}
.playerStatItem {
    white-space: pre-wrap;
    display: inline-block;
}
.playerStatItemDetails{
    white-space: pre-wrap;
}
.stat-container{
    margin-top: 6%;
}
.cardDescription {
    white-space: pre-wrap;
}
.createResponse {
    margin-top: 1%;
}
.deletePlayer{
    display: inline-block;
    margin-left: 80%;
}
